{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
        {% for message in messages %}
            <br>
            <br>
            <h2>{{ message.name }}</h2>
            <div>{{ message.email }}</div>
            <div>{{ message.content }}</div>
        {% endfor %}
{% endblock %}