{% extends 'base.html.twig' %}
{% block body %}
<div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Paulin Saint-Clivier</h1>
            <p>Developpeur Web Junior.</p>
        </div>
    </section>

</div>
{% endblock %}