{% extends 'base.html.twig' %}
{% block body %}
    <a href="http://www.paulinsc.fr/bloglitteraire/public/">Blog</a></br>
    <a href="http://www.paulinsc.fr/strasbourg/">Ville de Strasbourg</a></br>
    <a href="http://www.paulinsc.fr/velib/">Velib'</a>
    <a href=""></a>
{% endblock %}