{% extends 'base.html.twig' %}
{% block body %}
    <section id="one" class="wrapper style2 spotlights">
        <section>
            <a href="#" class="image"><img src="{{ asset('images/webagency.jpg') }}" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>WebAgency</h2>
                    <p>Intégration</p>
                    <ul class="actions">
                        <li><a href="http://www.paulinsc.fr/webagencypsc/" class="button">Accéder au site</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="#" class="image"><img src="{{ asset('images/strasbourg.jpg') }}" alt="" data-position="top center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Ville de Strasbourg</h2>
                    <p>Backend Wordpress</p>
                    <ul class="actions">
                        <li><a href="http://www.strasbourg.paulinsc.fr/Accueil/" class="button">Accéder au site</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="#" class="image"><img src="{{ asset('images/velib.jpg') }}" alt="" data-position="25% 25%" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Velib'</h2>
                    <p>Backend Javascript POO</p>
                    <ul class="actions">
                        <li><a href="http://www.paulinsc.fr/velib/" class="button">Accéder au site</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="#" class="image"><img src="{{ asset('images/alaska.jpg') }}" alt="" data-position="25% 25%" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Alaska</h2>
                    <p>Backend PHP POO</p>
                    <ul class="actions">
                        <li><a href="http://www.paulinsc.fr/bloglitteraire/public/" class="button">Accéder au site</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

